@font-face {
        font-family: "Cascadia Next SC";
        src: url("../../public/fonts/CascadiaNextSC.wght.ttf") format("truetype");
}

@font-face {
        font-family: "Sarasa";
        src: url("../../public/fonts/Sarasa-SuperTTC.ttc") format("truetype-variations");
}

/* body {
        padding-top: 60px;
} */

*, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
}

body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        line-height: 1.6;
        background: #f8f9fa;
}

.toppic{
        background: black;
        height: 40px;
}

header{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
}



.divider{
        height: 1px;
        margin: 15px 0;
}